<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Luke Hagan</string>
	<key>Builder Version</key>
	<string>7536.10.3</string>
	<key>CFBundleDisplayName</key>
	<string>Ixquick Cleaner</string>
	<key>CFBundleIdentifier</key>
	<string>com.lukehagan.ixquickcleaner</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery-1.7.2.min.js</string>
				<string>script.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Ixquick's Startpage, cleaned up and restyled.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.startpage.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
